
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/job"><i class="fas fa-angle-double-left"></i> Danh sách ca làm việc</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Thêm ca làm việc</h2>
            <span class="text-light">Sử dụng form dưới đây để thêm mới ca làm việc.</span>
        </div>

        <!-- add user form -->
        <%- include('include/_formJ') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
