
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="form-title text-center">
            <h2 class="text-dark">Đăng nhập</h2>
            <span class="text-light">Vui lòng đăng nhập để sử dụng hệ thống.</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
        <form action="" id="login" method="POST">
            <div class="login">
                <div class="form-group">
                    <label for="username" class="text-light">Mã đăng nhập</label>
                    <input class="username" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password" class="text-light">Mật khẩu</label>
                    <input class="password" type="password" name="password" placeholder="Mật khẩu">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Đăng nhập</button>                    
                </div>
            </div>
        </form>
        <script>
            const form = document.querySelector("#login");
            if (form){
                const username = document.querySelector("input[name='username']");
                const password = document.querySelector("input[name='password']");
                const submit = document.querySelector(".btn");
                submit.addEventListener("click", (event) =>{
                    const valueUsername = username.getAttribute("value");
                    const valuePassword = password.getAttribute("value");
                    //event.preventDefault();
                   // submit.setAttribute("value", valueUsername);
                   // console.log(submit.getAttribute("value"));
                   console.log(valueUsername);
                });
            }
        </script>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
